
.foto{
    border-radius: 50%;
    border-style:outset;
    border-color: #04F06A;
    border-width: 7px;
 

}


body{
    background-color: #6a6157;
    font-family: monospace;
}

h1 a , p a{
    color: #F4EBE8;
    text-decoration-color: #04F06A;
}

p{
    font-size: 16px;
}
ul, li{
    font-size: 16px;
    color:#04F06A;

    
}

strong{
    font-size: 19px;
    font-weight: bolder
}
h1,h2,p,ul,li{
text-align: center;
}

li:hover{
    color: antiquewhite;
}

a:active{
    color: red;
}
 a:hover{
     color: red;
 }
 